<patTemplate:tmpl name="page">


    <br style="clear:both">
    <div id="ficha_cliente" style="clear:both">


<table border="1" width="100%">

    <tr>
        <td>    


    <patTemplate:tmpl name="riesgo">


<table width="100%"  class="desolapa"   cellpadding="0" cellspacing="0">


<tr>
    <td valign="center">

    <table width="300px"   cellpadding="0" cellspacing="0" style="border:1px solid gray;margin: 8px;margin-left:auto;margin-right:auto">
        <tr><td colspan="3" style="background-color: #eee;font-size:13px;font-weight:bold;">
                <p style="margin:2px;">BINOW: Datos de riesgo del cliente</p></td></tr>

        <tr><td valign="top">

    <table>
    </table>

</td><td valign="top">

    <table>
    </table>


</td><td valign="top">

    <table>
</table>


    </td>


</tr>




</table>

    </patTemplate:tmpl>
                              
        </td>
        <td>


        </td>
    </tr>
</table>

    </div>

    
</patTemplate:tmpl>